<ion-content>
  <form action="" [formGroup]="genpassForm">
    <div class="mb-6">
      <div class="relative">
        <app-input-field label="Random Password" type="text" formControlName="password" ngDefaultControl></app-input-field>
        
        <button (click)="genpassword()">
          <div class='revealDiv' [inlineSVG]="'/assets/icon/sidebar/refresh.svg'"></div>
        </button>
        
        <button (click)="copyToCLipboard()">
          <div class='copyDiv' [inlineSVG]="'/assets/icon/copy.svg'"></div>
          <span>{{message}}</span>
        </button>
      </div>
    </div>
  </form>

</ion-content>
