<div class="flex">
  <div class="relative flex-grow mr-4">
    <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
      <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none">
        <path
          d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
          stroke="#838383" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        </path>
      </svg>
    </span>
    <input class="form-input w-full bg-grey-500 py-3 rounded-md pl-10 pr-4 focus:border-grey-400" type="text" placeholder="Search">
  </div>
  <div class="add-item flex justify-center items-center bg-cyan-2 rounded-md p-2.5">
    <svg width="16" height="16" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path
        d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
    </svg>
    <button (click)="createItem()" class="font-medium text-lg text-light-text ml-2">Add Item</button>
  </div>
</div>
