<ion-content>
  <div class="bg-grey-400 rounded-md p-4">



    <form class="" [formGroup]="DetailsForm" (ngSubmit)="onSubmit()">

      <!-- Name Field -->
      <div class="mb-6">
        <app-input-field *ngIf="showName" label="Name" placeholder="Name" type="text" formControlName="name" ngDefaultControl></app-input-field>
      </div>

      <!-- App header -->
      <app-item-header title="Website Name"></app-item-header>

      <!-- Type Field-->
      <!-- ================= Select Type -->
      <div class="max-w-md mx-auto mb-6">

        <h5>Select Type</h5>
        <!-- component -->
        <div class="relative w-[30rem]" (clickOutside)="closeSelect()">

          <!-- trigger button -->
          <button
            type="button"
            (click)="toggleSelect()"
            class="flex w-full items-center justify-between rounded bg-black p-2 ring-1 ring-gray-600"
            [ngClass]="typeSelectOpen?'':'ring-blue-600'">

            <span>{{type}}</span>

            <!-- X icon svg -->
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>

          </button>

          <!-- list items -->
          <ul class="z-2 absolute mt-2 w-full rounded bg-gray-900 ring-1 ring-gray-900" *ngIf="typeSelectOpen">
            <li class="cursor-pointer select-none p-2 hover:bg-gray-900" (click)="setType('Password')">
              Password
            </li>
            <li class="cursor-pointer select-none p-2 hover:bg-gray-900" (click)="setType('Card')">
              Card
            </li>
            <li class="cursor-pointer select-none p-2 hover:bg-gray-900" (click)="setType('Note')">
              Note
            </li>
            <li class="cursor-pointer select-none p-2 hover:bg-gray-900" (click)="setType('Document')">
              Document/File
            </li>
          </ul>
        </div>
      </div>
      <!-- Select Type ================= -->

      <div class="my-4 spliter border-b-2 border-grey-300 m-auto"></div>

      <!-- Url Field-->
      <div class="mb-6">
        <app-input-field *ngIf="showUrl" label="Website Url" placeholder="https://example.com" type="url" formControlName="url" ngDefaultControl></app-input-field>
      </div>

      <!-- Email Field-->
      <div class="mb-6">
        <app-input-field *ngIf="showEmail" label="Email" placeholder="Email" type="email" formControlName="email" ngDefaultControl></app-input-field>
      </div>

      <!-- Password Field-->
      <div class="mb-6">
        <app-input-field *ngIf="showPassword" label="Password" placeholder="" type="password" formControlName="password" ngDefaultControl></app-input-field>
      </div>

      <!-- Description Field-->
      <div class="mb-6">
        <app-input-field *ngIf="showDescription" label="Description" placeholder="write any notes here" type="textarea" formControlName="description" ngDefaultControl></app-input-field>
      </div>

      <!-- Note Field-->
      <div class="mb-6">
        <app-input-field *ngIf="showNote" label="Note" placeholder="Leave a comment..." type="textarea" formControlName="notes" ngDefaultControl></app-input-field>
      </div>

      <!-- Document Field-->
      <div class="mb-6">
        <app-input-field *ngIf="showDocument" label="Upload file" type="file" subtext="Lorem ipsum dolor sit amet, consectetur elit." formControlName="file" ngDefaultControl></app-input-field>
      </div>

      <div class="my-4 spliter border-b-2 border-grey-300 m-auto"></div>


      <div class="flex justify-end">
        <button type="reset" class="rounded-lg px-6 py-2 font-medium text-sm bg-transparent text-white" (click)="dismiss()">Cancel</button>
        <button type="submit" class="rounded-lg px-6 py-2 font-medium text-sm bg-transparent text-white bg-cyan-2 p-2.5">Create</button>

      </div>


    </form>
  </div>
</ion-content>
