<ion-content>
  <div class="bg-grey-400 h-full overflow-hidden">
    <div class="flex flex-wrap h-full">
      <div class="lg:w-1/2 w-full flex flex-col items-center justify-center shadow-lg bg-dark-4 bg-net-bg bg-bottom">
        <div class="w-full mb-14 px-12">
          <img class="w-full" src="/assets/brand/logo-rounded.svg">
        </div>
        <div class="text-center">
          <p class="font-semibold text-[2rem] text-cyan-2 mb-4">Welcome To Lorem Ipsum</p>
          <p class="text-light-grey-300 text-[1.2rem] mb-4 w-4/5 mx-auto">amet consectetur adipisicing elit Lorem ipsum dolor sit</p>
          <p class="text-light-grey-100 text-lg">
            id expedita blanditiis amet
          </p>
        </div>

      </div>
      <div class="lg:w-1/2 w-full flex flex-col items-center">
        <div class="pb-12 pt-40">
        <ul class="flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0 w-100 justify-center items-center w-full ">
          <li>
            <button (click)="shown_form = 'login'" class="nav-link block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-cyan-2 px-14 py-3 my-2 hover:border-transparent hover:bg-cyan-2 focus:border-transparent active" [ngClass]="shown_form == 'login'?'bg-cyan-2':''">Login</button>
          </li>
          <li>
            <button (click)="shown_form = 'register'" class="nav-link block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-cyan-2 px-14 py-3 my-2 hover:border-transparent hover:bg-cyan-2 focus:border-transparent" [ngClass]="shown_form == 'register'?'bg-cyan-2':''">Register</button>
          </li>
        </ul>
      </div>
        <div>
          <!-- Login Tab -->
          <div *ngIf="shown_form == 'login'" class="active">
            <form class="flex flex-col" [formGroup]="login_form" (ngSubmit)="login()">
              <div class="mb-6">
                <app-input-field label="Email" placeholder="email@example.com" type="email" formControlName="email"
                  ngDefaultControl></app-input-field>
              </div>

              <div class="mb-6">
                <app-input-field label="Password" type="password" formControlName="password"
                  ngDefaultControl subtext="Must be 15 char length with special characters" [showReveal]="true" [showCopy]="true"></app-input-field>
              </div>


              <div class="flex">
                <div class="w-full">
                  <button type="submit"
                    class="w-full rounded-lg px-6 py-2 font-medium text-sm bg-cyan-2 text-white hover:bg-light-grey-600 transition-all duration-75 ease-in-out">Login</button>
                </div>
              </div>

            </form>
          </div>

          <!-- Register Form -->
          <div *ngIf="shown_form == 'register'" class="">
            <form class="" [formGroup]="register_form" (ngSubmit)="register()">

              <div class="mb-6">
                <app-input-field label="Email" placeholder="email@example.com" type="email" formControlName="email"
                  ngDefaultControl></app-input-field>
              </div>
              <div class="mb-6">
                <div class="relative">
                    <app-input-field label="Password" type="password" formControlName="password"
                      ngDefaultControl subtext="Must be 15 char length with special characters"  [showReveal]="true" [showCopy]="true" [showGen]="true"></app-input-field>
                </div>
              </div>
              <div class="mb-6">
                <div class="relative">
                    <app-input-field label="Confirm Password" type="password" formControlName="password_confirm"
                      ngDefaultControl subtext="Remember Your Password" [showReveal]="true" ></app-input-field>
                </div>
              </div>

              <div class="flex">
                <div class="w-full">
                  <button type="submit"
                    class="w-full rounded-lg px-6 py-2 font-medium text-sm bg-cyan-2 text-white hover:bg-light-grey-600 transition-all duration-75 ease-in-out">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
