<div class="relative h-screen border-r border-cyan-2 shadow-dark-4 shadow-md  bg-grey-500 md:h-screen ">
  <div class="flex flex-col sm:flex-row sm:justify-around">
    <div class="w-80 h-screen pb-4 px-6 flex flex-col justify-between ">
      <div>
        <!-- Logo -->
        <a class="py-2 mb-6 justify-start" href="#">
          <img src="../../assets/brand/logo-rounded.svg" class="mt-4 w-full" alt="">
        </a>

        <!-- General -->
        <div class="pt-5 pb-1">
          <!-- <p class="text-light-grey-500 ml-2 w-full text-md font-normal">
            General
          </p> -->
          <app-single-menu-item [name]="'All Items'" [icon]="'/assets/icon/sidebar/all.svg'"></app-single-menu-item>
        </div>


        <!-- Types -->
        <div class="py-1">
          <p class="text-light-grey-500 ml-2 w-full text-md font-normal">
            Types
          </p>
          <app-single-menu-item [name]="'Passwords'" [icon]="'/assets/icon/sidebar/password.svg'"></app-single-menu-item>
          <app-single-menu-item [name]="'Cards'" [icon]="'/assets/icon/sidebar/card.svg'"></app-single-menu-item>
          <app-single-menu-item [name]="'Bank Accounts'" [icon]="'/assets/icon/sidebar/bank.svg'"></app-single-menu-item>
          <app-single-menu-item [name]="'Documents'" [icon]="'/assets/icon/sidebar/document.svg'"></app-single-menu-item>
          <app-single-menu-item [name]="'Note'" [icon]="'/assets/icon/sidebar/note.svg'"></app-single-menu-item>
        </div>

        <!-- Folder -->
        <div class="py-1">
          <p class="text-light-grey-500 ml-2 w-full text-md font-normal">
           Folder
          </p>

          <app-single-menu-item [name]="'Work'" [icon]="'/assets/icon/sidebar/folder.svg'"></app-single-menu-item>
          <app-single-menu-item [name]="'Social Media'" [icon]="'/assets/icon/sidebar/folder.svg'"></app-single-menu-item>
          

          <a class="hover:text-light-text font-thin text-light-grey-50 flex items-center p-2 mt-2 transition-colors duration-200 justify-start" href="#">
            <span class="text-left">
              <div class="plusIconDiv" [inlineSVG]="'/assets/icon/plus.svg'" ></div>
            </span>
            <span class="ml-3 text-base font-normal text-light-grey-300 hover:text-gray-500 cursor-pointer">
              New Folder
            </span>
          </a>
        </div>
      </div>


      <div class="">
         <!-- Tools -->
         <div class="py-1">
          <p class="text-light-grey-500 ml-2 w-full text-md font-normal">
           Tools
           </p>

          <app-single-menu-item [name]="'Generate Password'" [icon]="'/assets/icon/sidebar/refresh.svg'"></app-single-menu-item>
          <app-single-menu-item [name]="'Settings'" [icon]="'/assets/icon/sidebar/settings.svg'"></app-single-menu-item>
        </div>
      </div>
      <!-- Notice
      <app-sidebar-notice></app-sidebar-notice> -->
    </div>
  </div>
</div>
